.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.ellipse {
}
.image {
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.background-10 {
}
.background-20 {
}
.windows_primary_button {
  font-size:12px;
  color:#FFFFFF;
}
.android_flat_button {
  font-size:14px;
  color:#169BD5;
}
.hint {
  color:#999999;
}
.normal_text {
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.heading_31 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph1 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.text_field {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.list_box1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.line1 {
}
.icon {
}
.materialicons {
  font-family:'Material Icons Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
.fontawesome {
}
